//colors
$primary: #f5f3e6;
$primary-hover: #ce915d;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

//font style
$fontStyle : 'Lato',
sans-serif;

//Transition
$smooth: all .3s ease-in-out;